$primary-color: #F04B3d;
$text-color: #252b42;
$p-color: #737373;
$tertiary-color: #fff;
$quaternary-color: #FA4A0c;
$back-color: #171010;
$boldp-color: #5C5C5C;
$trans-color: transparent;
$overlay-bg-color: rgba(0, 0, 0, 0.7);
$overlayBg: rgba(255, 255, 255, 0.9);