@import "variables"; // Import variables for use in this stylesheet

// Common button styling for .obtn and .ibtn classes
.obtn,
.ibtn {
  border-radius: 20px; // Rounded corners for buttons
  padding: 15px 40px; // Padding inside buttons
  text-align: center; // Center text inside buttons
  text-decoration: none; // Remove default underline from links
  display: inline-block; // Display as inline-block element
  font-size: clamp(12px, 16px, 24px); // Responsive font size
  margin: 4px 2px; // Margin around buttons
  cursor: pointer; // Change cursor to pointer on hover
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; // Font family for buttons
  font-weight: 600; // Bold font weight
  transition: 0.5s; // Smooth transition for hover effects
  width: clamp(10rem, 15rem, 20rem); // Responsive button width
}

// Styling for .obtn class
.obtn {
  background-color: $quaternary-color; // Background color
  color: $tertiary-color; // Text color
  border: none; // Remove default border

  &:hover {
    background-color: $text-color; // Change background color on hover
    color: $quaternary-color; // Change text color on hover
  }
}

// Styling for .ibtn class
.ibtn {
  background-color: $trans-color; // Transparent background
  border: 1px solid $tertiary-color; // Border color
  color: $tertiary-color; // Text color

  &:hover {
    background-color: $quaternary-color; // Change background color on hover
    color: $tertiary-color; // Change text color on hover
    border: none; // Remove border on hover
  }

  // Media query for screens with a maximum width of 768px
  @media screen and (max-width: 768px) {
    color: $quaternary-color; // Change text color for small screens
    border: 1px solid $quaternary-color; // Change border color for small screens
  }
}

// Styling for button container
.btnss {
  display: flex; // Use flexbox for layout
  justify-content: space-between; // Space items evenly

  // Media query for screens with a maximum width of 768px
  @media (max-width: 768px) {
    flex-direction: column; // Stack items vertically on small screens
  }
}

// Styling for text elements with various classes
.r-text,
.p-text,
.h-text,
.s-text {
  color: $tertiary-color; // Text color
  text-align: center; // Center text alignment
  margin: $base-spacing 0; // Margin above and below text
}

// Styling for .l-text class
.l-text {
  font-weight: 400; // Font weight
  color: $text-color; // Text color
  text-align: center; // Center text alignment
  margin: $base-spacing 0; // Margin above and below text
  font-size: clamp(32px, 36px, 44px); // Responsive font size
}

// Styling for .p-text class
.p-text {
  font-size: clamp(16px, 24px, 30px); // Responsive font size
  font-weight: 600; // Font weight
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; // Font family
}

// Styling for .h-text class
.h-text {
  font-size: clamp(42px, 50px, 62px); // Responsive font size
  font-weight: 600; // Font weight
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; // Font family
}

// Styling for .r-text class
.r-text {
  margin-top: 10px; // Margin above text
  font-size: clamp(16px, 24px, 30px); // Responsive font size
  font-weight: 400; // Font weight
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; // Font family
}

// Styling for text within .dwords class
.dwords {
  text-align: left; // Align text to the left
  margin-left: 20px; // Margin to the left of the text

  .front-p {
    font-size: clamp(18px, 2vw, 24px); // Font size
    font-weight: bold; // Bold font weight
    margin-bottom: 15px; // Margin below the paragraph
    color: $quaternary-color; // Text color
  }

  .front-h {
    font-size: clamp(28px, 3vw, 34px); // Font size
    font-weight: bold; // Bold font weight
    margin-bottom: 15px; // Margin below the heading
    color: $back-color; // Text color
  }

  .back-p {
    font-size: clamp(16px, 2vw, 24px); // Font size
    color: $p-color; // Text color
  }
}

// Styling for centering images
.magecenter {
  display: flex; // Use flexbox for layout
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  margin: 0px 20px; // Margin on the sides
}

// Styling for layout of .firstdiv and .secondiv
.firstdiv,
.secondiv {
  display: flex; // Use flexbox for layout
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  padding: 0px 20px; // Padding inside divs

  .container {
    max-width: 1200px; // Maximum width of the container
    margin: auto; // Center container horizontally

    .row {
      .col-sm-12,
      .col-md-12,
      .col-lg-10 {
        display: flex; // Use flexbox for layout
        flex-direction: row; // Horizontal layout
        align-items: center; // Center items vertically
        justify-content: center; // Center items horizontally
      }
    }
  }

  // Media query for screens with a maximum width of 768px
  @media (max-width: 768px) {
    .container {
      .row {
        flex-direction: column; // Stack items vertically
        .col-sm-12,
        .col-md-12,
        .col-lg-10 {
          flex-direction: column; // Stack items vertically
          align-items: center; // Center items horizontally
          .magecenter {
            margin: 0; // Remove margin
            align-items: center; // Center items vertically
            display: flex; // Use flexbox for layout
            justify-content: center; // Center items horizontally
            img {
              max-width: 100%; // Ensure images fit within container
              object-fit: cover; // Cover the container without distortion
            }
          }
          .dwords {
            width: 100%; // Full width
            text-align: center; // Center text alignment
            margin: 0; // Remove margin
          }
        }
      }
    }
  }
}

// Specific styling for .secondiv
.secondiv {
  .container {
    .row {
      .col-sm-12,
      .col-md-12,
      .col-lg-10 {
        flex-direction: row-reverse; // Reverse row direction
        .magecenter {
          margin-right: -8rem; // Adjust margin to the right
        }
      }
    }
  }

  // Media query for screens with a maximum width of 768px
  @media (max-width: 768px) {
    .container {
      .row {
        .col-sm-12,
        .col-md-12,
        .col-lg-10 {
          flex-direction: column; // Stack items vertically
          .magecenter {
            margin: 0; // Remove margin
            align-items: center; // Center items vertically
            display: flex; // Use flexbox for layout
            justify-content: center; // Center items horizontally
            img {
              max-width: 100%; // Ensure images fit within container
              object-fit: cover; // Cover the container without distortion
            }
          }
        }
      }
    }
  }
}

// Styling for .heropage and .heroback classes
.heropage,
.heroback {
  margin-top: 130px; // Margin above the section

  .heropage__container {
    position: relative; // Position relative for absolute positioning of child elements

    .hero-mage {
      display: flex; // Use flexbox for layout
      flex-direction: column; // Stack items vertically
      justify-content: center; // Center items vertically
      align-items: center; // Center items horizontally
      position: relative; // Position relative for overlay positioning

      .overlay {
        position: absolute; // Absolute positioning for overlay
        top: 0; // Align to the top
        left: 0; // Align to the left
        width: 100%; // Full width
        height: 100dvh; // Full viewport height
        background-color: $overlay-bg-color; // Background color of overlay
        display: flex; // Use flexbox for layout
        flex-direction: column; // Stack items vertically
        justify-content: center; // Center items vertically
        align-items: center; // Center items horizontally
        color: $text-color; // Text color
        z-index: 1; // Ensure overlay is on top
      }
    }
  }

  // Media query for screens with a maximum width of 768px
  @media screen and (max-width: 768px) {
    .overlay {
      flex-direction: column; // Stack overlay content vertically
      display: flex; // Use flexbox for layout
      justify-content: center; // Center items vertically
      align-items: center; // Center items horizontally
      position: relative; // Change to relative position
      background-color: $tertiary-color; // Change background color
      .btn-div {
        flex-direction: column; // Stack buttons vertically
      }
    }
  }
}

// Specific styling for .heropage
.heropage {
  .heropage__container {
    .hero-mage {
      background: url(../assets/HeroImg.png); // Background image
      background-size: cover; // Cover the container
      background-repeat: no-repeat; // No repeat
      background-position: center; // Center background image
      height: 100dvh; // Full viewport height
      width: 100%; // Full width
    }
  }
}

// Specific styling for .heroback
.heroback {
  .heropage__container {
    .hero-mage {
      background: url(../assets/FooterImg.png); // Background image
      background-size: cover; // Cover the container
      background-repeat: no-repeat; // No repeat
      background-position: center; // Center background image
      height: 100dvh; // Full viewport height
      width: 100%; // Full width

      .overlay {
        .r-text {
          display: none; // Hide .r-text inside overlay
        }
      }
    }
  }
}

// Styling for .s-format class
.s-format {
  .s-text {
    font-size: 44px; // Font size
    font-weight: 500; // Font weight
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; // Font family
  }
}

// Styling for .howapp class
.howapp {
  margin-top: clamp(400px, 550px, 650px); // Responsive margin-top
  hr {
    height: 3px; // Height of horizontal rule
    width: 50%; // Width of horizontal rule
    margin: 0 auto; // Center horizontally
    border-width: 0; // Remove default border
    background-color: $hr-color; // Background color of horizontal rule
    margin-top: 20px; // Margin above horizontal rule
  }
  @media screen and (max-width: 998px) {
    hr {
      width: 100%;
    }
  }
}

// Styling for .herofront class
.herofront {
  position: relative; // Position relative for child positioning
  width: 100%; // Full width
  height: 100dvh; // Full viewport height
  .container {
    position: absolute; // Absolute positioning for .phones
    left: 45%; // Center align horizontally
    top: 1100px; // Adjust vertical position
    z-index: 1; // Ensure on top of other elements
    width: 100%;
    transform: translate(-50%, -50%); // Centering adjustment
    .phones {
      display: flex; // Use flexbox for layout
      justify-content: center; // Space items evenly
      align-items: center; // Center items vertically
      gap: 200px;

      .bye,
      .mee {
        transition: transform 0.3s ease-in-out; // Smooth transition for hover effect
        width: 100px; // Default image width
      }

      .mee {
        margin-top: 0; // Remove top margin
      }
      .ad-img{
        // width: 100%;
        max-width: 500px;
            }
    }
  }

  .bye:hover,
  .mee:hover {
    transform: scale(1.05); // Slight zoom effect on hover
  }

  // Media query for screens with a maximum width of 769px
  @media screen and (max-width: 769px) {
    .container {
      .phones {
        transform: none; // Remove transform
        left: 0; // Reset left positioning
        top: auto; // Reset top positioning
        position: relative; // Change to relative position
        margin: 0; // Remove margin
        flex-direction: row; // Ensure row direction
        align-items: center; // Center items vertically
        justify-content: center; // Center items horizontally
        width: 100%; // Full width
        gap: 10px;
      }

      .bye,
      .mee {
        width: 45%; // Set relative width
        max-width: 100px; // Maximum width
      }
      .ad-img{
        width: 150%;
        max-width: 500px;
      }
    }
  }
  @media screen and (max-width: 450px) {
    .container {
      .phones {
        gap: 5px;
        .bye,
        .mee {
          margin: 0;
        }
      }
    }
  }
}
